@import url("https://fonts.googleapis.com/css?family=Lato");
.side-menu-wrapper {
  height: 100vh;
  position: fixed;
  background: #0149b0;
  color: white;
  padding: 0 !important; }

.side-menu-container {
  height: 100vh; }
  .side-menu-container ul {
    margin: 0;
    padding: 0; }
    .side-menu-container ul li {
      list-style: none;
      font-weight: bold;
      cursor: pointer; }
      .side-menu-container ul li a {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        color: white; }
        .side-menu-container ul li a:hover, .side-menu-container ul li a.active {
          background: white;
          color: #0149b0;
          transition: all 0.5s; }
