@import '../../styles/_variables.scss';

.side-menu-wrapper {
  height: 100vh;
  position: fixed;
  background: $baseClr;
  color: white;
  padding: 0 !important;
}
.side-menu-container {
  height: 100vh;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      font-weight: bold;
      cursor: pointer;
      a {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        color: white;
        &:hover, &.active{
          background: white;
          color: $baseClr;
          transition: all 0.5s;
        }
      }
    }
  }
}