@import '../../styles/_variables.scss';

.data-table-container {
  .ui.horizontal.list {
    > .item {
      margin: 0;
    }
    .ui.basic.button {
      &.activeTab {
        background: $baseClr !important;
        color: white !important;
      } 
    }
  }
  .ui.celled.table {
    margin-top: 0; 
    .ui.basic.button {
      border: none;
      box-shadow: none;
      &:hover {
        background: transparent;
      }
    }
  }
}