@import url("https://fonts.googleapis.com/css?family=Lato");
.data-table-container .ui.horizontal.list > .item {
  margin: 0; }

.data-table-container .ui.horizontal.list .ui.basic.button.activeTab {
  background: #0149b0 !important;
  color: white !important; }

.data-table-container .ui.celled.table {
  margin-top: 0; }
  .data-table-container .ui.celled.table .ui.basic.button {
    border: none;
    box-shadow: none; }
    .data-table-container .ui.celled.table .ui.basic.button:hover {
      background: transparent; }
