@import url(../../node_modules/semantic-ui-css/semantic.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  margin: 0;
  padding: 0;
  font-family: "Lato," Helvetica Neue ",Arial,Helvetica,sans-serif"; }
